/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------------------------------- */
/* BASIC SETUP */
/* ---------------------------------- */

/*Include padding and border in the element's total width and height*/
*, *::before, *::after {box-sizing: border-box}

* {
    margin: 0;  /*remove all margin and padding
                from elements at the start*/
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Open-Sans', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden; /*stops overflow on the x axis, 
                        usually shows as a white strip
                        from top to bottom of page*/
}
